{% load bootstrap3 %}
{% load static%}
<!DOCTYPE html>
<html>

<head>
    {% include "navbar.html" %}
    <br>
    <br>
    <br>
    {% block styles %}
    {% bootstrap_css %}
    <link rel="stylesheet" href="{% static 'css/search.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.2/dist/jquery.fancybox.min.css" />
    {% endblock %}

</head>

<body>
    <div class="container">
        {% for photo_item in photos%}
        <div class="item">
            <!--Display news images  -->

            <img src="{{photo_item.photoimage.url}}" class="img-responsive" alt="Image">
            <br>
            <br>
            {% for comment in photo_item.image_comments.all %}
            <p>Comment:   {{comment.comment}}</p>
            {% endfor %}

            {% if request.user.is_authenticated %}
            <section class="input-row">
                <i class="fa # submit-like" aria-hidden="true"></i>
                <div class="comment-input-wrapper">
                    <form action="{% url 'comment' photo_item.id %}" method="post">
                        {% csrf_token %}
                        <input class="add-comment" name="comment" id="comment{{image.id}}" type="text" placeholder="Comment on this image....">
                        <button class="btn btn-default" type="submit">Comment</button>
                    </form>
                </div>
                <div class="hidden-data {{ image.pk }}" style="display: none;">
                    <span class="image-pk">{{ image.pk }}</span>
                </div>
            </section>
            {% endif %}
                <br>
                <br>
                <button type="button" class="btn btn-outline-secondary" onclick="likepic">Like</button>
                <img src="static/images/heart.png" alt="image">
            </form>
        </div>

        {% endfor %}
        {% block scripts %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.2/dist/jquery.fancybox.min.js"></script>
        {% bootstrap_javascript %}
        {% endblock %}
    </div>
</body>

</html>