{% load bootstrap3 %}
{% load static%}
<!DOCTYPE html>
<html>

<head>

    {% include "navbar.html" %}

    {% block styles %}
    {% bootstrap_css %}
    <link rel="stylesheet" href="{% static 'css/search.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.2/dist/jquery.fancybox.min.css" />
    {% endblock %}

</head>

<body>
    <div class="container">
        {% for photo_item in photos%}
        <div class="item">
            <!--Display news images  -->
            <img src="{{photo_item.photoimage.url}}" class="img-responsive" alt="Image">
            <br>
            <br>
            <form action="{% url 'comments' %}" method="post" enctype="multipart/form-data">
                {%csrf_token%}
                <div class="col-xs-4">
                    <label for="ex2">
                        <input type="text" class="form-control" placeholder="add comments" name="Newcomments" id="ex3">
                        <div class="input-group-btn">
                            <button class="btn btn-default" type="submit">Comment</button>
                        </div>
                    </label>
                </div>
                <br>

                <br>
                <button type="button" class="btn btn-outline-secondary">Like</button>
            </form>
        </div>

        {% for comment in photo_image.Comments.all%}
        <p>{{comment.comment}}</p>
        {% endfor %}


        {% endfor %}
        {% block scripts %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.2/dist/jquery.fancybox.min.js"></script>
        {% bootstrap_javascript %}
        {% endblock %}
    </div>
</body>

</html>