{% load bootstrap3 %}
{% load static%}
<!DOCTYPE html>
<html>

<head>

    {% include "navbar.html" %}

    {% block styles %}
    {% bootstrap_css %}
    <link rel="stylesheet" href="{% static 'css/search.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.2/dist/jquery.fancybox.min.css" />
    {% endblock %}

</head>

<body>
    <div class="container">
        {% block content %}
        {% for photo_item in profiles %}
        <div class="row">
        </div>
        <div class=" col-md-12 ">
            <img src="{{photo_item.profileimage.url}}" class="img-circle" alt="Cinque Terre" width="304" height="280">
            <div class=" col-md-12 ">
                <h2 class="card-title">Username: {{ photo_item.username }} </h2>
                <h2 class="card-text">Bio: {{ photo_item.bio }} </h2>
                <button type="button" class="btn btn-outline-secondary">Follow</button>
                <button type="button" class="btn btn-outline-secondary">Unfollow</button>
            </div>
            {% empty %}
            {% endfor %}
            {%endblock%}
            {% block scripts %}
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
            <script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.2/dist/jquery.fancybox.min.js"></script>
            {% bootstrap_javascript %}
            {% endblock %}
        </div>

</body>

</html>