{% load bootstrap3 %}
{% load static%}
<!DOCTYPE html>
<html>

<head>

    {% block styles %}
    {% bootstrap_css %}
    <link rel="stylesheet" href="{% static 'css/search.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.2/dist/jquery.fancybox.min.css" />
    {% endblock %}

</head>

<body>
    <div class="container">
        {% block content %}
        {% for photo_item in profiles %}
        <div class="row">
            <!--Display news Article images  -->
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                <img src="{{photo_item.profileimage.url}}" class="img-responsive" alt="Image">
            </div>

            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                <img src="{{photo_item.photoimage.url}}" class="img-responsive" alt="Image">
            </div>
            <!-- displaying News articles -->
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                <h2 class="text-center">Username: {{ photo_item.username }} </h2>
                <h2 class="text-center">Bio: {{ photo_item.bio }} </h2>
            </div>

            {% empty %}

            {% endfor %}

            {%endblock%}
            {% block scripts %}
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
            <script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.2/dist/jquery.fancybox.min.js"></script>
            {% bootstrap_javascript %}
            {% endblock %}
        </div>
</body>

</html>