{% load bootstrap3 %}
{% load static%}

<!DOCTYPE html>
<html>
{% block content %}

<div class="row">
    {% if profiles%}
    <h2>Found {{ profiles|length }} of searched term {{message}}</h2>
    {% else %}
    <h2>That username does not exist <h2>
            {% endif %}
</div>
<div class="row">
    {% if profiles %}
    {% for onsearched_term in profiles %}
    <div class="col-md-12">
        <h1>{{onsearched_term.username}}</h1>
    </div>
    {% endfor %}
    {% endif %}
</div>
{% for onsearched_term in profiles%}
<div class="row">
    <!--Display images  -->
    <div class="col-md-12">
        <img src="{{image.profileimage.url}}" class="img-responsive" alt="Image">
    </div>

</div>
{% endfor %}

</div>
{% endblock %}